* {
  box-sizing: border-box;
}

main {
  margin-top: 250px !important;
}

.max-wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 3rem;
}

.fullwidth-wrapper {
  width: 100%;
  margin: 0 auto;
}