.learn_hero_posters {
  display: flex;
  margin-bottom: 3rem;

  .posters_leftgroup {
    width: 50%;

    h1 {
      display: block;
      &:first-of-type {
        background-color: @theme_action;
      }
    }
  }
  .posters_rightgroup {
    width: 50%;
    margin-top: 3rem;
  }
}

.learn-filter {
  background-color: @theme_wine;
}

.learn-list {
  background-color: @theme_wine;
}