.events-hero {
  margin-bottom: 5rem;
  .events_hero_posters {
    width: 100%;
    display: flex;
    flex-direction: row;

    img {
      width: 100%;
      height: auto;
    }

    .icon {
      width: auto;
    }
  }

  .posters_leftgroup {
    width: 50%;
    h1 {
      display: block;
    }

    & > h3 {
      padding-right: 4rem;
      margin-bottom: 5rem;
    }
  }

  .posters_rightgroup {
    width: 50%;
  }
}

.events_collection_filter {
  width: 50%;
  margin-bottom: 4rem;
}

.events_collection_list {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.events_item {
  width: 100%;
  background-color: @theme_gold;
  // margin-top: 5rem;
  margin-bottom: 3rem;
  height: max-content;
  display: inline-block;


  img {
    width: 100%;
  }

  .events_item_body {
    padding:  0.5rem 2rem 2rem 2rem;
  }

  // &:first-child {
  //   margin-top: -3rem;
  // }

  &:nth-child(odd) {
    background-color: @theme_ivory;
    margin-top: -6rem;
  }

  &:nth-child(2n+1) {
    background-color: @theme_ivory;
  }

  &:nth-child(3n+1) {
    background-color: @theme_moss;
  }

}