// --------------------------------------- Homepage

.homepage-hero {
  min-height: 80vh;
  .homepage_hero_posters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .posters_leftgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;

    margin-top: -80px;

    .intro_block {
      max-width: 78%;
    }

    .poster_block_small,
    .poster_block_medium {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .posters_rightgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    line-height: 0;

    img {
      width: 100%;
    }

    .poster_heroimg_cta {

      color: @theme_wine;

      a {
        background-color: @theme_action;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
        text-decoration: none;
      }

      h2 {
        border: none;
        margin: 0;
      }
    }
  }
}

.homepage-whoweare {
  background-color: @theme_wine;
  color: white;
  padding: 300px 0 4rem 0;
  margin-top: -150px;


  .homepage_whoweare_posters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .posters_leftgroup,
  .posters_rightgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
  }

  .posters_leftgroup {
    align-items: flex-start;

    p {
      margin-bottom: 5rem;
    }
  }

  .posters_widegroup {
    width: 100%;

    .poster_block_small {
      width: 50%;
      margin: 0 auto;
      flex-direction: row-reverse;
    }
  }

}

.homepage-values {
  background-color: @theme_gold;
  background-image: url('https://images.squarespace-cdn.com/content/65b00da2942651425ca1a7f4/f719b993-5bcb-448a-976a-7710065fbd33/fpo_bkg1.png');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 50vw;
  padding: 300px 0 4rem 0;
  margin-top: -150px;

  // 3 col grid, masonry style
  .homepage_values_posters {
    column-count: 3;
    column-gap: 0;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    // max-height: 100vh;
  }

  .poster_block_value {
    line-height: 0;
    // min-height: 30vh;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;

    .value_inner {
      line-height: initial;
      padding: @poster_block_padding;
    }

    img {
      width: 100%;
    }

    h2 {
      color: inherit;
      border:none;
    }

    p {
      color: inherit;
    }
  }

  .poster_block_value:nth-child(1) {
    margin-top: 10vh;
  }

}

.homepage-impact {
  background: @theme_gold;
  background: linear-gradient(0deg, @theme_forest 50%, @theme_gold 50%);

  .impact_content {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
  }

  .impact_group {
    max-width: 25%;
    padding: @poster_block_padding;
  }

  h1 {
    box-shadow: none;
    padding: 0;
    background-color: transparent;
  }

  .impact_intro {
    padding: @poster_block_padding;

    h2 {
      color: inherit;
      border-color: inherit;
    }
    p {
      color: inherit;
    }
  }

  .impact_cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

}

.homepage-social {
  background: @theme_forest;
  background: linear-gradient(0deg, @theme_ivory 20%, @theme_forest 20%);
  min-height: 50vh;

  .max-wrapper > h1 {
    display: block;
  }

  .social_instafeed_wrap {
    margin-top: 5rem;
    width: 100%;
    min-height: 25vw;
  }
}