@poster_block_padding: 0.5rem 2rem 2rem 2rem;

.posters_leftgroup h1.super {
  &:first-of-type {
    background-color: @theme_action;
    box-shadow: 0em 0 0 @theme_action, 0 0 0 @theme_action;
  }
}

.poster_block_small {
  max-width: 60%;
  width: 25vw;
  padding: @poster_block_padding;
  background-color: @theme_orange;

  h2 {
    color: inherit;
    border-color: inherit;
  }

  .button {
    border-color: inherit;
    color: inherit;
    margin-top: 3rem;
  }
}

.poster_block_medium {
  max-width: 100%;
  width: 40vw;
  padding: @poster_block_padding;
  background-color: @theme_moss;
  color: @theme_wine;

  h2  {
    color: inherit;
    border-color: inherit;
  }

  .button {
    border-color: inherit;
    color: inherit;
    margin-top: 3rem;
  }
}

// Mod styles
.block__goldbg {
  background-color: @theme_gold;
  color: @theme_wine;
}

.block__bluebg {
  background-color: @theme_blue;
  color: white;

}
