.about-hero {
  h1 {
    display: block;
  }

  .about_hero_posters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .posters_leftgroup {
    width: 50%;

   & > p {
      padding-right: 4rem;
      margin-bottom: 10rem;
    }
  }

  .posters_rightgroup {
    width: 50%;
    line-height: 0;

    * {
      line-height: initial;
    }
    img {
      line-height: 0;
      width: 100%;
    }
  }

}