.events-hero {
  margin-bottom: 5rem;
  .events_hero_posters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: auto;
    }

    .icon {
      width: auto;
    }
  }

  .posters_leftgroup {

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }

    h1 {
      display: block;
    }

    & > h3 {
      padding-right: 4rem;
      margin-bottom: 5rem;

      @media screen and (max-width: @breakpoint_mobile) {
        padding-right: 0;
      }
    }
  }

  .posters_rightgroup {
    width: 50%;
    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;

      .icon {
        display: none;
      }
    }
  }
}

.events_collection_filter {
  width: 50%;
  margin-bottom: 4rem;
  @media screen and (max-width: @breakpoint_mobile) {
    width: 100%;
  }
}

.events_collection_list {
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: @breakpoint_mobile) {
    margin-top: 4rem;
  }
}

.events_item {
  width: 50%;
  flex-basis: 50%;
  @media screen and (max-width: @breakpoint_mobile) {
    width: 100%;
    flex-basis: 100%;
  }

  background-color: @theme_gold;
  // margin-top: 5rem;
  margin-bottom: 3rem;
  height: fit-content;

  img {
    width: 100%;
  }

  .events_item_body {
    padding:  0.5rem 2rem 2rem 2rem;
  }

  &:nth-child(odd) {
    background-color: @theme_ivory;
    margin-top: -6rem;
    @media screen and (max-width: @breakpoint_mobile) {
      margin-top: 0rem;
    }
  }

  &:nth-child(2n+1) {
    background-color: @theme_ivory;
  }

  &:nth-child(3n+1) {
    background-color: @theme_moss;
  }

}