.about-hero {
  background: linear-gradient(0deg, @theme_gold 25%, @theme_blush 25%);
  h1 {
    display: block;
  }

  .about_hero_posters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .posters_leftgroup {
    width: 50%;
    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }
  }

  .intro_block p,
  .intro_block h3 {
    padding-right: 4rem;
  }

  .poster_block_medium {
    margin-top: 4rem;
    // @media screen and (max-width: @breakpoint_mobile) {
    //   margin-top: 4rem;
    // }
  }



  .posters_rightgroup {
    width: 50%;
    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

}

.about-leadership {
  background-color: @theme_forest;
  background: linear-gradient(180deg,
    @theme_gold 40%,
    @theme_wine 40%,
    @theme_wine 70%,
    @theme_crimson 70%
  );
  padding-top: 300px;
  margin-top: -150px;
  @media screen and (max-width: @breakpoint_mobile) {
    padding-top: 200px;
  }

  .about_leadership_posters,
  .about_leadership_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about_leadership_posters {
    padding: 3rem 0;
    // color: white;
    h1 {
      display: block;
    }
    h3, p {
      color: inherit;
    }
    button {
      display: inline-block;
      margin-left: 1rem;
      @media screen and (max-width: @breakpoint_mobile) {
        margin: 0 0.25rem;
      }
    }

    .posters_rightgroup {
      display: flex;
      justify-content: end;
      @media screen and (max-width: @breakpoint_mobile) {
        justify-content: start;
        padding: 1rem 0;
      }
    }
  }

  .posters_leftgroup,
  .posters_rightgroup {
    width: 50%;

    img {
      width: 100%;
    }

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }
  }

  div.about_leadership_group {
    margin-bottom: 6rem;

    &:nth-of-type(1n) {
      .posters_leftgroup {
        margin-top: 150px;
        @media screen and (max-width: @breakpoint_mobile) {
          margin-top: 0px;
        }
      }
    }

    &:nth-of-type(3n) {
      flex-direction: row-reverse;
      .poster_block_medium {
        margin: auto 0 0 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0rem;
    }
  }
}

.about-timeline {
  background: @theme_gold;
  background: linear-gradient(0deg, @theme_ivory 25%, @theme_gold 25%);
  min-height: 500px;
  padding-top: 200px;

  @media screen and (max-width: @breakpoint_mobile) {
    padding-top: 100px;
  }
  h1 {
    display: block;
  }

  .max-wrapper > h3 {
    max-width: 50%;
    margin: 3rem 0 5rem 0;

    @media screen and (max-width: @breakpoint_mobile) {
      max-width: 100%;
    }
  }

  .timeline-wrapper {
    width:100vw;
    overflow-x: scroll;
    background-color: @theme_blush;
    min-height: 500px;

    @media screen and (max-width: @breakpoint_mobile) {
      min-height: 400px;
    }
  }
}

.about_demands {
  background-color: @theme_ivory;
  padding: 4rem 20vw;
  text-align: center;

  background: linear-gradient(180deg,
    @theme_crimson 5%,
    @theme_ivory 5%
  );

  @media screen and (max-width: @breakpoint_mobile) {
    padding: 2rem 0;
  }

  h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:first-of-type {
      background-color: @theme_action;
    }
  }

  .demands_list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .demands_item {
      width: 100%;
      padding: 4rem;
      margin-bottom: 2rem;
      background-color: white;
      transition: all 0.125s ease-in-out;

      text-align: center;

      h2 {
        color: inherit;
        border-color: inherit;
      }

      &:nth-of-type( 1n ) {
        background-color: @theme_gold;
      }

      &:nth-of-type( 2n ) {
        background-color: @theme_forest;
        color: @theme_blush;
      }

      &:nth-of-type( 3n ) {
        background-color: @theme_crimson;
        color: @theme_blush;
      }

      &:nth-of-type( 4n ) {
        background-color: @theme_moss;
      }

      &:nth-of-type( 5n ) {
        background-color: @theme_wine;
        color: @theme_blush;
      }

      &:nth-of-type( 6n ) {
        background-color: @theme_blue;
        color: @theme_blush;
      }

      &:hover {
        transform: scale(1.05);
      }

      h3 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }

}

.about_documentary {
  background-color: @theme_graphite;
  background: linear-gradient(180deg,
    @theme_graphite 85%,
    @theme_forest 85%
  );
  padding: 4rem 0;

  .max-wrapper  {
    color: @theme_blush;
    text-align: center;
  }
  .about_video_embed {
    // responsive iframe youtube embed:
    position: relative;
    margin-top: 4rem;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.about_partners {
  background-color: @theme_forest;
  padding: 4rem 0;

  color: @theme_ivory;

  h1 {
    display: block;
    &:last-of-type {
      background-color: @theme_action;
    }
  }

  h4 {
    color: @theme_action;
  }

  .max-wrapper {
    display: flex;
  }

  .partners_heading,
  .partners_item {
    width: 50%;
  }

  ul {
    // no styling
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      margin: 0;

      a {
        margin-bottom: 1rem;
        border-color: @theme_ivory;
        text-decoration: none;
      }
    }
  }

}

.homepage-social {
  background: @theme_forest;
  background: linear-gradient(0deg, @theme_ivory 20%, @theme_forest 20%);
  min-height: 50vh;

  @media screen and (max-width: @breakpoint_mobile) {
    padding-top: 4rem;
  }

  .max-wrapper > h1 {
    display: block;
  }

  .social_instafeed_wrap {
    margin-top: 5rem;
    width: 100%;
    min-height: 25vw;
  }
}