// Filters & Dropdowns & Search
.collection_search {
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type="text"] {
    &::placeholder {
      color: @theme_graphite;
      font-family: "Gilroy-Semibold";
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.5;
    }
    position: relative;
    border: 0;
    background-color: white;
    height: 100%;
    padding: 0 2rem 0 2rem;
    font-family:"Gilroy-Semibold";
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    flex-grow: 1;
    border-radius: 30px;

  }

}
.collection_filter {
  // width: 50%;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-bottom: 4rem;

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0;
    pointer-events: none;
    background-color: @theme_action;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url(/assets/icons/icon_down_arrow.svg);
    // center background image and don't repeat
    background-position: center;
    background-repeat: no-repeat;
  }

  .filter_title {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0 2rem 0 2rem;
    margin: 0;
  }

  select {
    position: relative;
    border: 0;
    background-color: @theme_ivory;
    height: 100%;
    padding: 0 2rem 0 2rem;
    font-family:"Gilroy-Semibold";
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    flex-grow: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

  }
}

@poster_block_padding: 1.5rem 2rem 2rem 2rem;

.posters_leftgroup {
  .poster_block_small,
  .poster_block_medium {
    margin: 0 0 0 auto;
  }
}

.posters_leftgroup,
.posters_rightgroup {
  line-height: 0;

  * {
    line-height: initial;
  }

  img {
    line-height: 0;
  }
}

.posters_leftgroup h1.super {
  &:first-of-type {
    background-color: @theme_action;
    box-shadow: 0em 0 0 @theme_action, 0 0 0 @theme_action;
  }
}

.poster_block_small {
  max-width: 60%;
  width: 25vw;
  padding: @poster_block_padding;
  background-color: @theme_orange;

  &.type_minipic {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    max-width: 100%;

    @media screen and (max-width: @breakpoint_mobile) {
      flex-direction: column;
    }

    .poster_block_small {
      flex-basis: 50%;
      width: unset;
      padding-bottom: 0;
      @media screen and (max-width: @breakpoint_mobile) {
        flex-basis: 100%;
        padding-bottom: 2rem;
      }
    }

    // nested:
    .poster_block_small {
      background: inherit;
      color: inherit;
    }

    .img__almostsquare_ratio {
      flex-basis: 50%;
      width: unset;
      aspect-ratio: auto;
      position: relative;
      top: 0;
      left: 0;
      line-height: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: @breakpoint_mobile) {
        flex-basis: 100%;
      }
    }


    .img__square_ratio {
      flex-basis: 50%;
      width: unset;
      aspect-ratio: 1;
      position: relative;
      top: 0;
      left: 0;
      line-height: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: @breakpoint_mobile) {
        flex-basis: 100%;
      }
    }
  }

  h2 {
    color: inherit;
    border-color: inherit;
  }

  .button {
    border-color: inherit;
    color: inherit;
    margin-top: 3rem;
  }

  @media screen and (max-width: @breakpoint_mobile) {
    width: 100%;
    max-width: unset;
  }
}

.poster_block_medium {
  max-width: 100%;
  width: 40vw;
  padding: @poster_block_padding;
  background-color: @theme_moss;
  color: @theme_graphite;

  h2  {
    color: inherit;
    border-color: inherit;
  }

  .button {
    border-color: inherit;
    color: inherit;
    margin-top: 3rem;
  }

  @media screen and (max-width: @breakpoint_mobile) {
    width: 100%;
    max-width: unset;
  }
}

.poster_block_heroimg {
  line-height: 0;
}

// Mod styles

.block__bluebg {
  background-color: @theme_blue;
  color: white;
}

.block__winebg {
  background-color: @theme_wine;
  color: white;
}

.block__crimsonbg {
  background-color: @theme_crimson;
  color: white;
}

.block__graphitebg {
  background-color: @theme_graphite;
  color: white;
}

.block__jetbg {
  background-color: @theme_jet;
  color: white;
}

.block__forestbg {
  background-color: @theme_forest;
  color: white;
}

.block__orangebg {
  background-color: @theme_orange;
  color: white;
}

.block__blushbg {
  background-color: @theme_blush;
  color: @theme_wine;
}

.block__actionbg {
  background-color: @theme_action;
  color: @theme_graphite;
}

.block__ivorybg {
  background-color: @theme_ivory;
  color: @theme_wine;
}

.block__mossbg {
  background-color: @theme_moss;
  color: @theme_graphite;
}

.block__goldbg {
  background-color: @theme_gold;
  color: @theme_wine;
}

.block__whitebg,
.block__caption {
  background-color: white;
  color: @theme_wine;
}

