.homepage-hero {
  min-height: 80vh;
  .homepage_hero_posters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .posters_leftgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;


    margin-top: -80px;

    .intro_block {
      padding-right: 5rem;
      h1 {
        display: block;
      }

      h3 {
        line-height: 1.8rem;
      }
    }

    .button {
      margin-top: 4rem;
      @media screen and (max-width: @breakpoint_mobile) {
        margin-bottom: 4rem;
        width: 100%;
      }
    }

    .poster_block_small,
    .poster_block_medium {
      margin-left: auto;
      margin-right: 0;
    }

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
      margin-top: 0px;

      .intro_block {
        padding-right: 0rem;
      }
    }
  }

  .posters_rightgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    line-height: 0;

    img {
      width: 100%;
    }

    .poster_heroimg_cta {

      color: @theme_wine;

      a {
        background-color: @theme_action;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem 1rem 2rem;
        text-decoration: none;
      }

      h2 {
        border: none;
        margin: 0;
      }
    }

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }
  }
}

.homepage-whoweare {
  background-color: @theme_wine;
  color: white;
  padding: 300px 0 4rem 0;
  margin-top: -150px;


  .homepage_whoweare_posters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    img {
      max-width: 100%;
    }
  }

  .posters_leftgroup,
  .posters_rightgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    justify-content: end;
    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
    }
  }

  .posters_leftgroup {
    align-items: flex-start;

    & > p {
      margin-bottom: 5rem;
      max-width: 80%;

      @media screen and (max-width: @breakpoint_mobile) {
        max-width: 100%;
      }

    }

  }

  .posters_widegroup {
    width: 100%;

    .poster_block_small {
      width: 50%;
      margin: 0 auto;
      flex-direction: row-reverse;
      @media screen and (max-width: @breakpoint_mobile) {
        width: 100%;
        flex-direction: column;
      }
    }
  }

}

.homepage-values {
  background-color: @theme_gold;
  background-image: url('https://images.squarespace-cdn.com/content/65b00da2942651425ca1a7f4/f719b993-5bcb-448a-976a-7710065fbd33/fpo_bkg1.png');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 50vw;
  padding: 300px 0 4rem 0;
  margin-top: -150px;

  .homepage_values_intro {
    max-width: 45%;

    @media screen and (max-width: @breakpoint_mobile) {
      max-width: 100%;
    }

    h3 {
      color: white;
      margin-bottom: 4rem;
    }
  }

  // 3 col grid, masonry style
  .homepage_values_posters {
    width: 100%;
    height: auto;
    margin: 0 auto 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: @breakpoint_mobile) {
      flex-direction: column;
    }
  }

  .poster_block_value {
    line-height: 0;
    // min-height: 30vh;
    flex: 0 0 0;
    width: 30%;
    flex-basis: 33%;
    height: fit-content;

    .value_inner {
      line-height: initial;
      padding: @poster_block_padding;
    }

    img {
      width: 100%;
    }

    h2 {
      color: inherit;
      border:none;
    }

    p {
      color: inherit;
    }

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
      flex-basis: 100%;
    }
  }

  .poster_block_value:nth-child(1) {
    margin-top: 10vh;
  }

}

.homepage-impact {
  background: @theme_gold;
  background: linear-gradient(0deg, @theme_forest 50%, @theme_gold 50%);
  padding-bottom: 3rem;

  .impact_content {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
  }

  .impact_group {
    // max-width: 25%;
    flex-basis: 23%;
    padding: @poster_block_padding;
    @media screen and (max-width: @breakpoint_mobile) {
      flex-basis: 33%;
      width:33%;
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 30vh;
      min-height: 300px;
    }
  }

  h1 {
    box-shadow: none;
    padding: 0;
    background-color: transparent;
  }

  .impact_intro {
    padding: @poster_block_padding;
    flex-basis: 30%;
    h2 {
      color: inherit;
      border-color: inherit;
    }
    p {
      color: inherit;
    }

    @media screen and (max-width: @breakpoint_mobile) {
      flex-basis: 100%;
      display: block;
      height: auto;
    }
  }

  .impact_cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;

    @media screen and (max-width: @breakpoint_mobile) {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }

}
