html, body {
  height: auto;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  &.homepage,
  &.primary_page {
    background-color: @theme_blush;
  }

  // &.standard_page {
  //   background-color: @theme_ivory;
  // }
  background-color: @theme_ivory;
}

caption {
  font-family: 'Space Mono', monospace;
}